[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

docopt = "*"
"fabric3" = "*"
watchdog = "*"
jupyter = "*"
colorama = "*"
"jupyter-contrib-nbextensions" = "*"
crayons = "*"

[dev-packages]

bumpversion = "==0.5.3"
coverage = "==4.4.1"
cryptography = "==1.9"
"flake8" = "==3.3.0"
pytest = "*"
"pytest-runner" = "==2.11.1"
pyyaml = "==3.12"
sphinx = "==1.6.2"
tox = "==2.7.0"
"sphinx-autodoc-typehints" = "==1.2.0"
wheel = "==0.38.1"
