[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
docopt = "*"
Fabric3 = "*"
watchdog = "*"
jupyter = "*"
colorama = "*"
jupyter_nbextensions_configurator = "*"

[dev-packages]
bumpversion = "==0.5.3"
coverage = "==4.4.1"
cryptography = "==1.9"
flake8 = "==3.3.0"
pytest = "*"
pytest-runner = "==2.11.1"
PyYAML = "==3.12"
Sphinx = "==1.6.2"
tox = "==2.7.0"
sphinx-autodoc-typehints = "==1.2.0"
wheel = "==0.29.0"
Fabric3 = "==1.13.1.post1"
